:root {
  --ion-color-primary: #3a86ff;
  --ion-color-primary-rgb: 58,134,255;
  --ion-color-success: #43aa8b;
  --ion-color-warning: #f9c74f;
  --ion-color-danger: #ff006e;
  --ion-color-medium: #f1f1f1;
}
